.carousel-title{
    text-align: center;
    width: 150px;
    font-size: 25px;
    background: -webkit-linear-gradient(30deg,#e102bf,#0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}